---
const { title, description, imgPath, kategori, pris,imgLager, lagerstatus, afsendelse, nyhedsbanner} = Astro.props;
import Button from "./Button.astro";
---


<section class="card">
<div class="indhold">
    <h1 class="banner">{nyhedsbanner}</h1>
    <img src={imgPath} alt="">

    <div>
        <p class="card_kategori">{kategori}</p>
        <h5 class="card_title">{title}</h5>
        <p class="card_desription">{description}</p>
    </div>

    <div class="info">
        <div class="afsend">
        <div class=lagerstatsus_card>
        <img class="lager" src={imgLager} alt="">
        <p>{lagerstatus}</p>
        </div>
        <p>{afsendelse}</p>
    </div>
        <div>
            <h2 class="pris">{pris}</h2>
        </div>
    </div>
    <div class="button">
    <Button variant="card_sek">Læg i kurv</Button> 
    </div>
</div>
</section>
<style>


.card{
    background-color: var(--lightgrey);
   margin: auto;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 5rem;
    margin-top: 5rem;
}


.indhold{
    margin: auto;
}
img {
    width: 100%;

}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lagerstatsus_card{
    display: flex;
    
    gap: 10px;

}
.lager {
width: 2vh;
}
 
.afsend{
    padding-top: 20px;
    padding-bottom: 20px;
 
}

.button{
    padding-bottom: 20px;
}

.banner{
   background-color: var(--customGreen);
    color: white;
    font-size: var(----h4OverskriftFontSize);
    padding-left: 10px;
    margin-bottom: var(--spacing-md); 
}
</style>
