---
const { title, description, link, imgPath, kategori, pris,imgLager, lagerstatus, afsendelse} = Astro.props;
import Button from "./Button.astro";
---

<section class="card">
    <img src={imgPath} alt="">
    <div class="info1">
    <p class="card_kategori">{kategori}</p>
    <h5 class="card_title">{title}</h3>
    <p class="card_desription">{description}</p>
</div>

    <div class="info2">
        <div class=lagerstatsus_card>
        <img class="lager" src={imgLager} alt="">
        <p>{lagerstatus}</p>
    </div>
        <h2 class="pris">{pris}</h2>
    </div>

    <p>{afsendelse}</p>
   
    <Button variant="card_sek">Læg i kurv</Button>
</section>



<style>
.card{
    background-color: var(--lightgrey);
    max-width: 300px;
    padding: 10px;
}

img {
    width: 90%;
   margin: auto;
}


.info1{
   
}




.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lagerstatsus_card{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.lager {
width: 14px;


}
 


</style>
