---
const { title, description, link, imgPath, kategori, pris,imgLager, lagerstatus, afsendelse} = Astro.props;
import Button from "./Button.astro";
---

<section class="card">
    <img src={imgPath} alt="">
    <h5 class="card_kategori">{kategori}</h5>
    <h5 class="card_title">{title}</h3>
    <h5 class="card_desription">{description}</h5>
    <div class="linje">
        <img class="lager" src={imgLager} alt="">
        <p>{lagerstatus}</p>
        <h2 class="pris">{pris}</h2>
    </div>
   
    <p>{afsendelse}</p>
    <Button variant="card_sek">Læg i kurv</Button>
</section>



<style>

.card{
  
    background-color: var(--lightgrey);
    max-width: 300px;
    padding: 10px;
}

img {
    width: 90%;
   margin: auto;
}

.linje{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.lager {
width: 14px;


}
 


</style>
