---
const { banner, h2, h3, p, pris } = Astro.props;
import Button from "./Button.astro";
import "..//styles/style.css";
---

<section class="grid">
  <section class="grid-1">
    <img src="the_void-poster.png" alt="singelview-billede" />
  </section>

  <section class="grid-2">
    <h1 class="banner">{banner}</h1>
    <h2>{h2}</h2>
    <h3>{h3}</h3>
    <p>{p}</p>

    <div class="grid-1-2">
      <div>
        <p>Lagerstatus</p>
        <p>Afsendelse: 1-3 hverdage</p>
      </div>
      <p>{pris}</p>
    </div>

    <div class="flex-grid">
      <div class="str">Str.</div>
      <div class="antal">Antal</div>
    </div>

    <div class="buttons">
      <Button variant="card">Tilføj til kurv</Button>
      <Button variant="card">Føj til ønskeliste</Button>
    </div>
  </section>
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    gap: 3rem;
  }

  .banner {
    background-color: var(--customGreen);
    color: white;
    font-size: var(----h5OverskriftFontSize);
    padding-left: 10px;
  }

  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex-grid {
    display: flex;
    gap: 2rem;
  }

  .str {
    border: 1px solid var(--blackBtn);
    padding: 1rem;
    padding-inline: 7rem;
  }
  .antal {
    border: 1px solid var(--blackBtn);
    padding: 1rem;
    padding-inline: 7rem;
  }

  .buttons {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }

  
</style>
