---

const { banner, h2, h3, p, pris, btn } = Astro.props;
import Button from "./Button.astro";
import "..//styles/style.css";


---

<section>
<h1>{banner}</h1>
<h2>{h2}</h2>
<h3>{h3}</h3>
<p>{p}</p>

<div>
<div>
    <p>Lagerstatus</p>
    <p>Afsendelse: 1-3 hverdage</p>
</div>
<p>{pris}</p>
</div>

<div>
    <div>Str.</div>
    <div>Antal</div>
</div>

<div>
  <Button variant="primary">Tilmeld dig</Button>    
  <Button variant="primary">Tilmeld dig</Button>    
</div>
</section>

<style></style>
